@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800");

.sobat {
  font-weight: 700;
  color: rgb(27, 108, 167);
}
.kerja {
  font-weight: 350;
  font-style: italic;
}
.sobat,
.kerja {
  font-family: "Work Sans";
  font-size: 28px;
  letter-spacing: -0.8px;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: rgb(27, 108, 167);
  font-weight: 550;
}
.btn-sign-out {
  background-color: white;
  font-weight: 600;
  letter-spacing: 0.4px;
  border-radius: 8px;
  border-color: rgb(207, 207, 207);
  border-style: solid;
  border-width: 1px;
  height: 100%;
  padding: 0 15px 2px 15px;
}
.btn-sign-out a {
  text-decoration: none;
  color: rgb(27, 108, 167);
}
.box-motivasi {
  color: white;
  background-image: url("Gambar/5.png");
  background-size: cover;
  height: 90px;
}
.txt-motivasi {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
  color: white;
  padding-top: 33px;
  padding-left: 50px;
}
.img-motivasi {
  border-radius: 20px;
  filter: grayscale(100%);
}
.img-motivasi:hover {
  filter: grayscale(0%);
}